/* HomePage.css */

/* Container styles */
.home-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 300px;
    height: 400px;
    background-color: #f4f4f4; /* Add background color */
  }
  
  /* Title styles */
  h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Image styles */
  .home-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Button styles */
  .next-button {
    margin-top: 80px;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }
  .home-image{
    width: 200px;
    height: 200px;
  }