body, html {
  height: 100%;
  margin: 0;
  background: url('./notification1.jpeg') no-repeat center center fixed;
  background-size: cover; /* Ensure the background image covers the full page */
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
 /* Add a semi-transparent overlay */
}

.card {
  border: none; /* Remove border to ensure consistent background color */
  border-radius: 8px;
  background-color: #161F6D; /* Ensure the card has a solid background */
}

.btn-primary {
  background-color: #00ABE1;
  border: none; /* Remove border for buttons */
}

.btn-primary:hover {
  background-color: #007bb5;
}

.text-center {
  color: #00ABE1;
}

.form-control {
  background-color: #161F6D; /* Form input background color */
  color: white; /* Form input text color */
  border: 1px solid #00ABE1; /* Border color for form inputs */
}

.form-control:focus {
  background-color: #161F6D; /* Maintain background color on focus */
  color: white;
  border-color: #00ABE1; /* Maintain border color on focus */
  box-shadow: none; /* Remove default focus shadow */
}

.error-message {
  color: #FF0000; /* Red color for error messages */
 
  
}
